*{
    margin: 0%;
    padding: 0%;
}
body{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/poke-img2.jpg");
}
.conteiner{
    width: 40%;
    height: 80vh;
    border: 5px solid;
    border-image: linear-gradient(
        #FFFF00,
        #1C1C1C,
        #FF0000) 1;
        animation: rotate 2.5s ease-in infinite;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
   background-color:#A9A9A9;
    opacity: 0.8;
}
@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #FFFF00,
            #1C1C1C,
            #FF0000) 1;
    }
}
#btn-pokemon{
    margin-top:10px;
    width: 70%;
    border: none;
    color: #A9A9A9;
}

.info-pokemon{
    list-style: none;
    color: #1c64ff;
    border-radius: 10%;
    padding: 20px;
    width: max-content;
    border: none;
}
#pokemon{
    width: 70%;
}

h1{
    padding-bottom: 20px;
    width: 70%; 
}